[submodule "app/Modules/Auth"]
	path = app/Modules/Auth
	url = https://github.com/Blowedminds/Laravel-Module-Auth
[submodule "app/Modules/Core"]
	path = app/Modules/Core
	url = https://github.com/Blowedminds/Laravel-Module-Core
[submodule "app/Modules/Discuss"]
	path = app/Modules/Discuss
	url = https://github.com/Blowedminds/Laravel-Module-Discuss
[submodule "app/Modules/Image"]
	path = app/Modules/Image
	url = https://github.com/Blowedminds/Laravel-Module-Image
[submodule "app/Modules/User"]
	path = app/Modules/User
	url = https://github.com/Blowedminds/Laravel-Module-User
[submodule "app/Modules/Article"]
	path = app/Modules/Article
	url = https://github.com/bwqr/Laravel-Module-EditorArticle
[submodule "app/Modules/Admin"]
	path = app/Modules/Admin
	url = https://github.com/bwqr/Laravel-Module-Admin
[submodule "app/Modules/ReaderArticle"]
	path = app/Modules/ReaderArticle
	url = https://github.com/bwqr/Laravel-Module-ReaderArticle
