[submodule "app/Modules/Auth"]
	path = app/Modules/Auth
	url = https://github.com/Blowedminds/Laravel-Module-Auth
[submodule "app/Modules/Core"]
	path = app/Modules/Core
	url = https://github.com/Blowedminds/Laravel-Module-Core
[submodule "app/Modules/Editor/Article"]
	path = app/Modules/Editor/Article
	url = https://github.com/Blowedminds/Laravel-Module-EditorArticle
[submodule "app/Modules/Editor/Admin"]
	path = app/Modules/Editor/Admin
	url = https://github.com/Blowedminds/Laravel-Module-Admin
[submodule "app/Modules/Discuss"]
	path = app/Modules/Discuss
	url = https://github.com/Blowedminds/Laravel-Module-Discuss
[submodule "app/Modules/Image"]
	path = app/Modules/Image
	url = https://github.com/Blowedminds/Laravel-Module-Image
[submodule "app/Modules/User"]
	path = app/Modules/User
	url = https://github.com/Blowedminds/Laravel-Module-User
[submodule "app/Modules/Reader/Article"]
	path = app/Modules/Reader/Article
	url = https://github.com/Blowedminds/Laravel-Module-ReaderArticle
