
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Theme

.language-selector {
  list-style: none;
  text-align: right;

  a {
    &:hover {
      color: wheat;
    }
    color: white;
  }
}